## Type conversion functions
Sometimes it is necessary to convert values from one type to another. Python provides a few simple functions that will allow us to do that. The functions int, float and str will (attempt to) convert their arguments into types int, float and str respectively. We call these type conversion functions.

The int function can take a floating point number or a string, and turn it into an int. For floating point numbers, it discards the decimal portion of the number - a process we call truncation towards zero on the number line. Let us see this in action:

In [1]:
print(3.14, int(3.14))
print(3.9999, int(3.9999))       # This doesn't round to the closest int!
print(3.0, int(3.0))
print(-3.999, int(-3.999))        # Note that the result is closer to zero

print("2345", int("2345"))        # parse a string to produce an int
print(17, int(17))                # int even works on integers
print(int("23bottles"))

3.14 3
3.9999 3
3.0 3
-3.999 -3
2345 2345
17 17

ValueError: invalid literal for int() with base 10: '23bottles'

The last case shows that a string has to be a syntactically legal number, otherwise you’ll get one of those pesky runtime errors. Modify the example by deleting the bottles and rerun the program. You should see the integer 23.

In [2]:
print(int("23"))

23

The type converter float can turn an integer, a float, or a syntactically legal string into a float.

In [3]:
print(float("123.45"))
print(type(float("123.45")))

123.45
<class 'float'>

The type converter str turns its argument into a string. Remember that when we print a string, the quotes are removed in the output window. However, if we print the type, we can see that it is definitely str.

In [4]:
print(str(17))
print(str(123.45))
print(type(str(123.45)))

17
123.45
<class 'str'>

One common operation where you might need to do a type conversion is when you are concatenating several strings together but want to include a numeric value as part of the final string. Because we can’t concatenate a string with an integer or floating point number, we will often have to convert numbers to strings before concatenating them.

![type_cast](https://fopp.umsi.education/books/published/fopp/_images/type_cast.gif)

**~End~**